<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-text>usuarioejemplo.com</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>Juan</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-text>Pérez</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad:</ion-label>
      <ion-text>Santiago</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Comuna:</ion-label>
      <ion-text>Pudahuel</ion-text>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>
